.App{
  background-color: rgb(39, 39, 37);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  color: white;
  height: 80vh;
  font-weight: normal;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid blanchedalmond;
  padding: 10px 20px;
  font-size: 20px;
}
.todoForm{
  display:flex;
  justify-content: space-between;
  width: 450px;
}
.todoText{
  border-radius: 20px;
  width: 80%;
  padding: 10px 5px;
  border: none;
}
.add{
  border-radius: 20px;
  padding: 10px;
  border: none;
  margin: 0px 5px;
}
.todoUl{
  padding: 0;
  margin: 0;
  list-style: none;
}
.todoLi{
  background-color: rgb(36, 143, 231);
  align-items: center;
  display: flex;
  border-radius: 20px;
  margin: 10px 0px;
  padding: 10px 20px;
  width:450px;
}
.bu{
  border-radius: 20px;
  border: none;
  margin: 0px 4px;
  padding: 10px 20px;
}
#set{
  flex: 1;
}